# Archivos de sistema
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/
.idea/

# Logs
*.log

# Caché de Python
__pycache__/
*.pyc

# Variables de entorno
.env

# Backups de la base de datos
database/backups/

# Archivos temporales
*.tmp